extends layoutmobile
block content
    include head

    section.main
        .row
            ul
                li
                    span.badge.badge-alert 6
                    a(href="#")
                        i.fa.fa-3x.fa-calendar
                        p.menu-tittel-item: strong Agenda de Visitas
                li
                    a(href="#")
                        i.fa.fa-3x.fa-archive
                        p.menu-tittel-item: strong Productos
                li
                    a(href="#")
                        i.fa.fa-3x.fa-shopping-cart
                        p.menu-tittel-item: strong Crear Venta
                li
                    a(href="#")
                        i.fa.fa-3x.fa-line-chart
                        p.menu-tittel-item: strong Mis Ventas
                li
                    a(href="#")
                        i.fa.fa-3x.fa-users
                        p.menu-tittel-item: strong Mis Clientes
                li
                    span.badge.badge-alert 1
                    a(href="#")
                        i.fa.fa-3x.fa-envelope-o
                        p.menu-tittel-item: strong Mis Mensajes
                li
                    a(href="#")
                        i.fa.fa-3x.fa-gears
                        p.menu-tittel-item: strong Cuenta de Usuario
                li
                    a(href="/mblout")
                        i.fa.fa-3x.fa-power-off
                        p.menu-tittel-item: strong Salir





    include footer


